$default: #000000;

%kollektif-400{
  font-family: 'Kollektif';
  font-weight: 400;
}

%kollektif-700{
  font-family: 'Kollektif-Bold';
  font-weight: 700;
}

%lena-400 {
  font-family: 'lena';
  font-weight: 400;
}